/*===========================================================
  APP NAME HERE
  By YOUR NAME HERE
===========================================================*/

:root {
    --base-col:         #305274;
    --accent-col:       #e43749;

    --base-col-lightest: color-mix(in srgb, var(--base-col), #fff 90%);
    --base-col-lighter:  color-mix(in srgb, var(--base-col), #fff 70%);
    --base-col-light:    color-mix(in srgb, var(--base-col), #fff 60%);
    --base-col-dark:     color-mix(in srgb, var(--base-col), #000 20%);
    --base-col-darker:   color-mix(in srgb, var(--base-col), #000 60%);
    --base-col-darkest:  color-mix(in srgb, var(--base-col), #000 90%);

    --text-col:         var(--base-col-darkest);
    --text-col-inv:     var(--base-col-lightest);

    --page-bg:          var(--base-col-lighter);
    --page-header-bg:   var(--base-col-dark);

    --panel-bg:         var(--base-col-light);
    --panel-header-bg:  var(--base-col-dark);

    --border-col:       var(--base-col-darkest);
    --border-radius:    0.5rem;
    --border-radius-sm: 0.25rem;

    --drop-shadow:      0 0.25rem 1rem #0004;

    --link-col:         var(--accent-col);

    --button-bg:        var(--accent-col);
    --button-col:       var(--text-col-inv);
    --button-shadow:    0 0.1rem 0.2rem #0004;
    --button-shadow-up: 0 0.2rem 0.3rem #0008;

    --padding-lg:       2rem;
    --padding:          1rem;
    --padding-sm:       0.5rem;

    --gap-lg:           2rem;
    --gap:              1rem;
    --gap-sm:           0.5rem;

    --content-width:    60rem;
}


/* Overall Layout -----------------------------------------------*/

html {
    background-color: var(--page-bg);
    color: var(--text-col);
    font-family: system-ui, sans-serif;
}


body {
    min-height: 100dvh;
}


main {
    max-width: var(--content-width);
    margin-inline: auto;
    padding: var(--padding);

    .logo.home-page {
        width: 10rem;
        height: 10rem;
        display: block;
        margin: var(--gap-lg) auto;
    }

    .button.home-page {
        font-size: 1.5rem;
        display: flex;
        width: fit-content;
        margin: var(--gap-lg) auto;
    }
}


/* Header & Nav -----------------------------------------------*/

body > header {
    display: flex;
    gap: var(--gap);
    align-items: center;
    padding: var(--padding);
    background-color: var(--page-header-bg);
    color: var(--text-col-inv);
    border-bottom: 3px solid var(--border-col);
    box-shadow: var(--drop-shadow);
    position: sticky;
    top: 0;

    .logo {
        width: 3rem;
        height: 3rem;
    }

    h1 {
        font-size: 1.5rem;
    }

    .greeting {
        flex: 1;
        text-align: center;
    }

    nav {
        display: flex;
        gap: var(--gap);
        margin-left: auto;
        

        a {
            color: var(--link-col);
        }
    }
}


/* Page Headings -----------------------------------------------*/

main > h1.welcome {
    font-size: 5rem;
    text-align: center;
    margin-block: 5rem;
}


main > h2 {
    font-size: 2rem;
    text-align: center;
    margin-block: 2rem;
}



/* Forms --------------------------------------------------*/

form {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    width: 100%;

    max-width: 30rem;
    margin-inline: auto;
    padding: var(--padding);

    background-color: var(--panel-bg);
    border: 3px solid var(--border-col);
    border-radius: var(--border-radius);
    box-shadow: var(--drop-shadow);

    label {
        width: 100%;

        input, textarea {
            width: 100%;
            border: 3px solid var(--border-col);
            border-radius: var(--border-radius-sm);
            padding: var(--padding-sm);
        }
    }
}





/* Links / buttons --------------------------------------------------*/

.button, button {
    background-color: var(--accent-col);
    border: 3px solid var(--border-col);
    box-shadow: var(--button-shadow);
    color: var(--text-col-inv);
    border-radius: 0.5em;
    padding: 0.5em 0.6em;
    text-decoration: none;
    transition: all 250ms;
    display: inline-flex;
    gap: var(--gap-sm);
    align-items: center;
    justify-content: center;
    text-align: center;

    &:hover {
        filter: brightness(1.1);
        box-shadow: var(--button-shadow-up);
    }
}

.button.new-message {
    position: fixed;
    right: max(3vw, var(--padding));
    top: calc(5rem + max(3vw, var(--padding)));
    font-size: 2rem;
}


/* Lucide icons --------------------------------------------------*/

[data-lucide] {
    height: 1.25em;
    width:  1.25em;
    display: inline-block;
}



/* Creature List --------------------------------------------------*/

#creatures {
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr;

    @media (width >= 500px) {
        grid-template-columns: 1fr 1fr;
    }

    @media (width >= 800px) {
        grid-template-columns: 1fr 1fr 1fr;
    }

.creature {
    padding: 1rem;
    background-color: var(--panel-bg);
    border: 2px solid var(--border-col);
    border-radius: 0.5rem;

    h3 {
        color: var(--accent-col);
    }
    }
}

#search{
    display:flex;
    align-content: center;
    margin-bottom: 2rem;
}




